* {
    box-sizing: border-box;
  }
  
  html {
    font-family: "Open Sans", sans-serif;
  }

  section {
    padding: 100px 8%;
    width: 100%;
  }

.hero {
    display: flex;
    flex-flow: column;
    min-height: 100vh; 
    background-image: url("../assets/bcg_hero.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    padding-top: 30px; 
    background-color: #241e18;
      
}



.hero_logo {
    font-family: "Merriweather", sans-serif;
    color: #fff;
    line-height: 24px;
    font-weight: 800;
    font-size: 24px;
    align-items: center;
    padding-top: 19px;
}

.link_logo {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 115px;
}

h6.green {
  color: #3a9c61;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.hero .job_title {
  margin-bottom: 100px;
}

.hero h1 {
  display: flex;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  line-height: 64px;
  font-size: 48px;
  text-align: center;
  justify-content: space-around;
}

.btn_default {
  width: 200px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  outline: 0px;
  transition: all 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
}

.btn_default.btn_white {
  color:#fff;
  border: 2px solid #fff;
  background-color: transparent;
}

.btn_default.btn_white:hover {
  background-color: #fff;
  color: #3a9c61;
}

.btn_default.btn_orange {
  background-color: #fab447;
  color: #fff;
}

.btn_default.btn_orange:hover {
  color: #fab447;
  background-color: #fff;
}

.hero .btn_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-self: center;
  max-width: 440px;
  width: 100%;
}

.hero .btn_container button {
  margin: 5px;
}

.hero nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.hero nav ul li:not(:last-child) {
  margin-right: 40px;
}

.hero nav ul li {
  font-size: 12px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.hero nav ul li a {
  color: inherit;
  text-decoration: none;
}

.hero nav ul li:hover {
  border-bottom: 2px solid #3a9c61;
  color: #fff;
  transition: all 0.4s;
}

.hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #3a9c61;
  height: 10px;
  z-index: 1;
}

.services {
  display: flex;
  flex-flow: column;
  width: 100%;
  background-color: #fff;
}

.services .h5_black {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #241e18;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.services .h6_green {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3a9c61;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 29px;
}

.services .services_list {
  display: flex;
  margin: 0;
  margin-top: 98px;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.service_item {
  text-align: center;
}

.service_icon {
  background-color: #3a9c61;
  width: 165px;
  height: 165px;
  border-radius: 100px;
  position: relative;
  margin: 0px 75px;
}

.service_icon:hover {
  background-color: #e98e19;
  transition: all 0.4s;
  
}

.img_services_1 {
  position: absolute;
  right: 55px;
  top: 55px;
  bottom: 55px;
  left: 55px;
}

.img_services_2 {
  position: absolute;
  right: 58px;
  top: 58px;
  bottom: 58px;
  left: 58px;
}

.img_services_3 {
  position: absolute;
  right: 48px;
  top: 60px;
  bottom: 60px;
  left: 55px;
}

.services_list .h6_black {
  color: #241e18;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  justify-content: center;
  margin-top: 48px;
  text-transform: capitalize;
}

.services_list .p_gray {
  color: #65615d;
  font-family: "Open Sans". sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 41px;
}

.services_list.btn_default.btn_white {
  margin: 0;
  margin-top: 50px; 
  margin-top: 50px;
  align-items: center;
  color: #3a9c61;
  border: 2px solid #3a9c61;
  background-color: transparent;
  width: 200px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  outline: 0px;
  transition: all 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;  
  justify-content: center;
  align-items: center;
  margin: 50px 60px;
}

.services .btn_default.btn_white:hover {
  transition: all 0.4s;
  background-color: #3a9c61;
  color: #fff;
}

.about_me {
  background-color: #f2f0e9;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.about_me .h5_black {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #241e18;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.about_me .h6_green {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3a9c61;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 29px;
}

.about_me .contact_and_description {
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  justify-content: center;
}

.contact_and_description .business_card {
  justify-content: center;
  width: 260px;
  margin: 0;
}

.name {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: #241e18;
  text-transform: capitalize;
  margin: 0;
  margin-top: 28px;
}

.specialization {
  font-family: "Open Sans", sans-serif;
  font-weight: italic;
  font-size: 16px;
  line-height: 24px;
  color: #65615d;
  text-transform: capitalize;
  margin: 0;
  margin-top: 23px;
}

.contact_link {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3a9c61;
  margin-top: 36px;
  text-transform: uppercase;
}

.contact_and_description .info_default {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #241e18;
  margin: 0;
}

.contact_and_description.info_default.part_1 {
  margin: 0;
  margin-left: 98px;
}

.contact_and_description.info_default.part_2 {
  margin: 0;  
  margin-left: 30px;
}

.read_more {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #3a9c61;
}

.my_work {
  width: 100%;
  color: #fff;
  display: flex;
  flex-flow: column;
}

.my_work .h5_black {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #241e18;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.my_work .h6_green {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3a9c61;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 29px;
}

.my_work .img_container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1336px;
  margin: 0;
  margin: 100px 15px 0 15px;
  padding: 15px;
  justify-content: center;
  align-self: center;
}

.img_container .img {
  padding: 0;
  margin: 15px;
}

.img_container.img.special {
  width: 263px;
  height: 197px;
  background-image: url(../assets/my_work_img_1.png);
}

.img_container.img.special:hover {
  transition: all 0.4s;
  background-image: url(../assets/experiment.png);
}

.my_work.btn_default.btn_white {
  margin-top: 50px;
  align-items: center;
  color: #3a9c61;
  border: 2px solid #3a9c61;
  background-color: transparent;
  width: 200px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  outline: 0px;
  transition: all 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;  
  justify-content: center;  
  align-self: center;
}

.my_work.btn_default.btn_white:hover {
  transition: all 0.4s;
  background-color: #3a9c61;
  color: #fff;
}

.reviews {
  display: flex;
  width: 100%;
  flex-flow: column;
  background-color: #f2f0e9;
}

.reviews .h5_black {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #241e18;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.reviews .h6_green {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3a9c61;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 29px;
}

.reviews .comment {
  font-family: "Merriweather";
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #65615d;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-top: 50px;
}

.review.author_info {
  margin-top: 47px;
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  align-items: center;
}

.author_info .name_and_position {
  display: flex;
  flex-flow: column;
  margin-left: 24px;
}

.name_and_position .position {
  align-self: start;
}

.name_and_position .name {
  align-self: start;
}

.reviews .temporarily_class {
  text-transform: uppercase;
  align-items: center;
  margin-top: 51px;
  color: #3a9c61;
  font-weight: bold;
}

.get_in_touch {
  display: flex;
  flex-flow: column;
  width: 100%;
  color: #fff;
}

.get_in_touch .h5_black {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #241e18;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
}

.get_in_touch .h6_green {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #a6a49d;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 29px;
}

.get_in_touch.btn_default.btn_orange {
  width: 200px;
  height: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  outline: 0px;
  transition: all 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #fab447;
  color: #fff;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 50px;
}

.get_in_touch.btn_orange:hover {
  color: #fab447;
  background-color: #fff;
}

.basement {
  display: flex;
  flex-flow: column;
  background-color: #241e18;
  width: 100%;
  padding: 100px 8%;
  width: 100%;
}

.basement .info {
  align-self: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #65615d;
  margin: 0;
  padding: 0;
}

.basement.icon_container {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  max-width: 360px;
  justify-content: space-between;
  opacity: 0.5;
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.icon_container .icon_1 {
  border-radius: 100;
  background-image: url(../assets/basement_img_1.png);
  width: 68px;
  height: 67px;
}

.icon_container .icon_1:hover {
  opacity: 1;
  background-image: url(../assets/basement_img_1.png);
}

.icon_container .icon_2 {
  border-radius: 100;
  background-image: url(../assets/basement_img_2.png);
  width: 68px;
  height: 67px;
}

.icon_container .icon_2:hover {
  opacity: 1;
  background-image: url(../assets/basement_img_2.png);
}

.icon_container .icon_3 {
  border-radius: 100;
  background-image: url(../assets/basement_img_3.png);
  width: 68px;
  height: 67px;
}

.icon_container .icon_3:hover {
  opacity: 1;
  background-image: url(../assets/basement_img_3.png);
}

.icon_container .icon_4 {
  border-radius: 100;
  background-image: url(../assets/basement_img_4.png);
  width: 68px;
  height: 67px;
}

.icon_container .icon_4:hover {
  opacity: 1;
  background-image: url(../assets/basement_img_4.png);
}
